@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&subset=latin,cyrillic);
/*font-family: 'Ubuntu', sans-serif;*/


@import "modules/base";
@import "modules/_grid";
@import "modules/reset";
@import "modules/pr";
//@import "modules/animate";
body{
    padding-top: em(61);
}
.wrap{
    width: 100%;
    overflow: hidden;
    min-width: 320px;
}

@media (max-width: 1000px) {
    body{
        padding-top: 0;
    }
}

@media (max-width: $base__size_md - 1 * 1px) {
    body{
        padding-top: em(61);
    }
}

@import "modules/b-line";
@import "modules/flexslider";
@import "modules/colorbox";

@import "modules/b-header";
@import "modules/b-topnav";
@import "modules/b-promo";
@import "modules/b-price";
@import "modules/b-label";
@import "modules/b-form";
@import "modules/b-video";
@import "modules/b-spoiler";
@import "modules/b-why";
@import "modules/b-complect";
@import "modules/b-how";
@import "modules/b-ab";
@import "modules/b-characteristics";

@import "modules/b-islider";

@import "modules/b-footer";

@import "modules/b-map";
@import "modules/b-address";
@import "modules/b-delivery";
