.b-address{
    color: #000102;
    font-weight: 300;
    &__title{
        $font-size: 18;
        font-size: em($font-size);
        padding-bottom: em(25, $font-size);
    }
    &__text{
        $font-size: 14;
        font-size: em($font-size);
        line-height: 1.8;
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-address{
        padding-bottom: em(30);
        &__title{
            $font-size: 20;
            font-size: em($font-size);
            padding-bottom: em(15, $font-size);
        }
        &__text{
            $font-size: 16;
            font-size: em($font-size);
        }
    }
}