.b-ab{
    &__col1{
        display: inline-block;
        vertical-align: bottom;
        padding-right: 2%;
        width: 23.5%;
    }
    &__col2{
        display: inline-block;
        vertical-align: bottom;
        padding-right: 2%;
        width: 23.5%;
    }
    &__col3{
        display: inline-block;
        vertical-align: bottom;
        width: 49%;
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-ab{
        padding-top: em(30);
        &__col1{
            display: block;
            width: 48%;
            padding-right: 4%;
            float: left;
        }
        &__col2{
            display: block;
            width: 48%;
            padding-right: 0;
            float: left;
        }
    }
}

@media (max-width: $base__size_xs - 1 * 1px) {
    .b-ab{
        &__col1{
            display: block;
            width: 100%;
            padding-right: 0;
        }
        &__col2{
            display: block;
            width: 100%;
            padding-right: 0;
        }
    }
}