.b-characteristics{
    width: 100%;
    td{
        $font-size: 16;
        font-size: em($font-size);
        color: #000102;
        padding: em(5, $font-size) 0 em(5, $font-size) em(80, $font-size);
        &:first-child{
            font-weight: 300;
        }
    }
    tr:nth-child(odd){
        td{
            background-color: #fcfeff;
        }
    }
}

@media (max-width: $base__size_md - 1 * 1px) {
    .b-characteristics{
        width: 100%;
        td{
            $font-size: 16;
            font-size: em($font-size);
            padding: em(5, $font-size) em(5, $font-size) em(5, $font-size);
        }
    }
}