.b-complect{
    position: relative;
    &:before{
        content:"";
        display: block;
        width: 512px;
        height: 447px;
        background: url(../images/type1_flower.png) no-repeat;
        position: absolute;
        bottom: 20px;
        left: 60%;
        z-index: 10;
    }
    &__items{
        $font-size: 16;
        font-size: em($font-size);
        font-weight: 300;
        color: #000102;
    }
    &__bottom{
        padding-top: em(75);
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-complect{
        &:before{
            display: none;
        }
    }
}