.b-delivery{
    background: url(../images/mr.jpg) no-repeat 50% 50% #a1c4d5;
    background-size: cover;
    padding: em(50) 0 em(137);
    &__title{
        $font-size: 36;
        font-size: em($font-size);
        color: #007cde;
        line-height: 1.32;
        strong{
            font-weight: 700;
        }
    }
    &__item-wrap{
        padding: em(33) 0;
    }
    &__item{
        $font-size: 18;
        font-size: em($font-size);
        color: #000000;
        padding: em(12, $font-size) 0 em(13, $font-size) em(48, $font-size);
        line-height: 1.4;
        font-weight: 300;
        background: url(../images/b64/check.png) no-repeat left 8px;
    }
    &__wrap{
        padding: 0 em(22);
        position: relative;
    }
    &__form{
        max-width: 292px;
        box-shadow: 0 20px 29px rgba(0,0,0, .29);
        position: relative;
    }
    &__form-title{
        $font-size: 18;
        font-size: em($font-size);
        font-weight: 300;
        color: #639d04;
        text-align: center;
        line-height: 1.4;
        padding-bottom: em(20, $font-size);
        .item{
            font-size: 1.3333em;
        }
    }
    &__form-label{
        border-radius: 50%;
        background-color: #639d04;
        color: #ffffff;
        text-align: center;
        position: absolute;
        top: em(-135);
        right: em(-135);
        width: em(190);
        height: em(190);
        z-index: 10;
        .title{
            text-transform: uppercase;
            $font-size: 27;
            font-size: em($font-size);
            display: block;
            padding-top: em(25, $font-size);
            font-weight: 700;
        }
        .old-price{
            $font-size: 20;
            font-size: em($font-size);
            display: block;
            text-decoration: line-through;
        }
        .new-price{
            $font-size:43;
            font-size: em($font-size);
            display: block;
            font-weight: 500;
            line-height: 1.1;
            letter-spacing: -3px;
        }
        .currency{
            font-size: 0.37em;
            letter-spacing: 0;
        }
    }
}