.b-footer{
    padding: em(35) 0;
    &__copyrights{
        $font-size: 14;
        font-size: em($font-size);
        color: #568ecc;
        font-weight: 300;
    }

    &__tel{
        .title{
            display: block;
            $font-size: 14;
            font-size: em($font-size);
            color: #000;
            font-weight: 300;
        }
        .tel{
            display: block;
            $font-size: 16;
            font-size: em($font-size);
            font-weight: 500;
            color: #000;
            text-decoration: none;
        }
        .text{
            display: block;
            $font-size: 14;
            font-size: em($font-size);
            font-weight: 300;
            color: #568ecc;
        }
    }

    &__menu-item{
        list-style: none;
    }
    &__menu-link{
        $font-size: 14;
        font-size: em($font-size);
        color: #568ecc;
        text-decoration: none;
        font-weight: 300;
        &:hover{
            text-decoration: underline;
        }
    }
}

@media (max-width: $base__size_xs*1px){
    .b-footer{
        text-align: center;
        &__copyrights{
            $font-size: 16;
            font-size: em($font-size);
            padding-bottom: em(15, $font-size);
        }

        &__tel{
            padding-bottom: em(15);
            .title{
                $font-size: 16;
                font-size: em($font-size);
            }
            .tel{
                $font-size: 18;
                font-size: em($font-size);
            }
            .text{
                $font-size: 16;
                font-size: em($font-size);
            }
        }

        &__menu-link{
            $font-size: 16;
            font-size: em($font-size);
        }
    }
}