.b-form{
    box-sizing: border-box;
    padding: em(15) em(30);
    border:1px solid rgba(0,0,0,.7);
    background-color: rgba(255, 255, 255, .69);
    &_white{
        background-color: #ffffff;
    }
    &_shadow{
        box-shadow: 0 0 29px rgba(0,0,0, .29);
    }
    &_lg{
        background-color: #fcfcfc;
    }
    &_no-border{
        border: 0;
    }
    &__title{
        $font-size: 18;
        font-size: em($font-size);
        color: #616161;
        padding-bottom: em(15, $font-size);
    }
    &__text-content{
        $font-size: 14;
        font-size: em($font-size);
        font-weight: 300;
        color: #616161;
        padding-bottom: em(15, $font-size);
    }
    &__el{
        padding-bottom: em(14);
        &:last-child{
            padding-bottom: 0;
        }
    }
    &__text{
        $font-size: 14;
        font-size: em($font-size);
        box-sizing: border-box;
        width: 100%;
        display: block;
        background-color: transparent;
        border: 1px solid #bcbcbc;
        padding: 0 em(15, $font-size);
        height: em(38, $font-size);
        color: #000;
        transition: box-shadow .3s;
        &.error{
            box-shadow: 0 0 5px red;
        }
        &:focus{
            box-shadow: 0 0 5px #568ecc;
        }
    }
    &__submit{
        border: 1px solid #bcbcbc;
        $font-size: 14;
        font-size: em($font-size);
        color: #fff;
        line-height: 1.5;
        width: 100%;
        display: block;
        background: rgb(132,241,133);
        background: linear-gradient(to bottom,  rgba(132,241,133,1) 0%,rgba(22,166,23,1) 100%);
        padding: em(5, $font-size) 0;
        text-align: center;
        cursor: pointer;
        &:hover{
            background: linear-gradient(to bottom,  rgba(22,166,23,1) 0%, rgba(132,241,133,1) 100%);
        }
    }
    &__output{
        $font-size: 15;
        font-size: em($font-size);
        color: #000;
        display: none;
        &.error{
            //border-color:#FF0000;
        }
    }
}