.b-header{
    background: #2a5bb5;
    padding: em(12) 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &__container{
        padding: 0 0 0 em(160);
        position: relative;
    }
    &__logo{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: em(-15);
        cursor: pointer;
    }
    &__tel{
        $font-size: 24;
        font-size: em($font-size);
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: right;
        .code{
            font-weight: 400;
            font-size: 0.83em;
        }
    }
}

@media (max-width: 1000px) {
    .b-header{
        position: relative;
    }
}
@media (max-width: $base__size_md - 1 * 1px) {
    .b-header{
        position: fixed;
    }
}
@media (max-width: $base__size_xs - 1 * 1px) {
    .b-header{
        &__container{
            padding-left: em(130);
        }
        &__tel{
            $font-size: 20;
            font-size: em($font-size);
            padding: em(5, $font-size) 0;
        }
    }
}