.b-how{
    background: url(../images/about-bg.jpg) no-repeat center center #f4f9fc;
    background-size: cover;
    position: relative;
    &:before{
        content:"";
        display: block;
        width: 553px;
        height: 621px;
        background: url(../images/box.png) no-repeat;
        position: absolute;
        bottom: -87px;
        left: 60%;
        z-index: 10;
    }
    &__text{
        font-weight: 300;
        padding: em(20) 0;
        p{
            $font-size: 16;
            font-size: em($font-size);
            color: #000000;
            padding-bottom: em(35, $font-size);
            .large{
                font-size: 1.125em;
            }
        }
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-how{
        &:before{
            display: none;
        }
        &__text{
            padding: em(5) 0;
            p{
                $font-size: 16;
                font-size: em($font-size);
                padding-bottom: em(5, $font-size);
            }
        }
    }
}