.b-islider{
    padding: 0 em(118);
    position: relative;
    .slides{
        img{
            box-shadow: 0 0 29px rgba(0,0,0, .29);
            margin: em(29) auto;
        }
    }
    .flex-prev, .flex-next{
        border:2px solid #626262;
        display: block;
        border-radius:50%;
        height: 0;
        width: 0;
        padding: 30px 30px 0 0;
        overflow: hidden;
        background: url(../images/b64/arrow-left.png) no-repeat 50% 50%;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: em(64);
        &.flex-disabled{
            display: none;
        }
    }
    .flex-next{
        background-image: url(../images/b64/arrow-right.png);
        left: auto;
        right: em(64);
    }
}

@media (max-width: $base__size_xs - 1 * 1px) {
    .b-islider{
        padding: 0 em(30);
        position: relative;
        .flex-prev, .flex-next{
            left: 0;
        }
        .flex-next{
            left: auto;
            right: 0;
        }
    }
}