.b-label{
    $font-size: 18;
    font-size: em($font-size);
    font-weight: 300;
    border: 2px solid #f3bd00;
    text-align: center;
    color: #000102;
    text-transform: uppercase;
    padding: em(9, $font-size) em(37, $font-size);
    display: inline-block;
    clear: both;
    &_small{
        $font-size: 14;
        font-size: em($font-size);
        padding: em(9, $font-size) em(15, $font-size);
        text-align: left;
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-label{
        $font-size: 18;
        margin-bottom: em(15, $font-size);
        &_small{
            $font-size: 14;
            margin-bottom: em(15, $font-size);
        }
    }
}