.b-line{
    padding: em(63) 0 em(83);
    &_gray{
        background-color: #fbfbfb;
    }
    &_wblue{
        background: linear-gradient(to bottom,  #ffffff 0%,#eef6fa 100%);
    }
    &_wgreen{
        background: linear-gradient(to bottom,  #ffffff 0%,#ebfee0 100%);
    }
    &_complect{
        background: url(../images/complect-bg.jpg) no-repeat center center #e2e9ec;
        background-size: cover;
    }
    &__title{
        $font-size: 30;
        font-size: em($font-size);
        color: #000102;
        padding-bottom: em(30, $font-size);
        text-transform: uppercase;
        font-weight: 300;
    }
    .b-line{
        padding-bottom: 0;
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-line{
        padding: em(30) 0 em(30);
    }
}

@media (max-width: $base__size_xs - 1 * 1px) {
    .b-line{
        padding: em(20) 0 em(20);
    }
}

@media (max-width: $base__size_xs - 1 * 1px) {
    .b-line{
        &__title{
            $font-size: 24;
            font-size: em($font-size);
            padding-bottom: em(24, $font-size);
        }
    }
}