.b-promo{
    background: url(../images/promo-bg.jpg) no-repeat 50% 50% #8dc3df;
    background-size: cover;
    margin-bottom: em(30);
    &__title{
        color: #007cde;
        $font-size: 65;
        font-size: em($font-size);
        letter-spacing: -3px;
        text-align: center;
        line-height: 1.45;
    }
    &__subtitle{
        display: block;
        font-size: 0.723em;
        letter-spacing: -1px;
    }
    &__feature{
        padding: em(15) 0;
        .number{
            color: #007cde;
            $font-size: 60;
            font-size: em($font-size);
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
            padding-right: em(10, $font-size);
            letter-spacing: -3px;
        }
        .text{
            display: inline-block;
            vertical-align: middle;
            $font-size: 14;
            font-size: em($font-size);
            color: #616161;
        }
    }
    &__type{
        margin-bottom: em(-37);
        position: relative;
        &:before{
            content:"";
            display: block;
            width: 95%;
            height: 95%;
            position: absolute;
            top: 2.5%;
            left: 2.5%;
            box-shadow: 7px 0 60px rgba(0,0,0,.36);
        }
    }
    &__type-selector{
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .3);
        width: 166px;
        height: 166px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -83px 0 0 -83px;
        z-index: 20;
        text-align: center;
        .text{
            $font-size: 23;
            font-size: em($font-size);
            color: #000102;
            font-weight: 300;
            display: block;
            padding: em(30, $font-size) 0 em(20, $font-size);
        }
        .link{
            width: 26px;
            height: 26px;
            border:1px solid #9c8e83;
            display: inline-block;
            margin: 0 em(8);
            border-radius: 50%;
            position: relative;
            &:before{
                content:"";
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                background-color: #fff;
            }
            &.brown{
                &:before{
                    background-color: #904f30;
                }
            }
        }
    }
    &__type-img{
        display: block;
        width: 100%;
    }
    &__type-slider{
        overflow: hidden;
        .slides{
            overflow: hidden;
            li{
                display: none;
                &:first-child{
                    display: block;
                }
            }
        }
    }
    &__bottom{
        padding-top: em(53);
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-promo{
        padding: em(20) 0;
        &__title{
            color: #007cde;
            $font-size: 35;
            font-size: em($font-size);
            letter-spacing: -1px;
            text-align: center;
            line-height: 1.25;
        }
        &__type{
            margin-bottom: em(30);
        }
    }
}

@media (max-width: $base__size_xs - 1 * 1px) {
    .b-promo{
        &__feature{
            .number{
                display: block;
                text-align: center;
            }
            .text{
                display: block;
                text-align: center;
            }
        }
    }
}
