.b-price{
    padding-bottom: em(30);
    .old{
        $font-size: 18;
        font-size: em($font-size);
        display: block;
        color: #adadad;
        text-decoration: line-through;
    }
    .new{
        color: #ff0000;
        $font-size: 35;
        font-size: em($font-size);
        font-weight: 500;
        line-height: 1.1;
        display: block;
        .currency{
            font-size: 0.51em;
        }
    }
}

@media (max-width: $base__size_sm - 1 * 1px) {
    .b-price{
        text-align: center;
    }
}