.b-spoiler{
    padding-bottom: em(40);
    &:last-child{
        padding-bottom: 0;
    }
    .text{
        display: none;
    }
    &__item{
        float: left;
        margin-right: 1.5%;
        width: 32.33333%;
        cursor: pointer;
        position: relative;
        transition:box-shadow .3s;
        background: no-repeat 50% 50% #ccc;
        background-size: cover;
        text-decoration: none;
        transform: translateZ(0);
        &.active{
            box-shadow:0 0 1px 3px #b7dcea;
            border-radius: em(3);
            filter: grayscale(0);
            &:before, &:after{
                display: block;
            }
        }
        &:last-child{
            margin-right: 0;
        }
        &:before{
            content:"";
            position: absolute;
            display: none;
            top: 100%;
            left: 50%;
            border-top:19px solid #b4dae9;
            border-left:19px solid transparent;
            border-right:19px solid transparent;
            margin-left: em(-19);
        }
        &:after{
            content:"";
            position: absolute;
            display: none;
            top: 100%;
            left: 50%;
            border-top:16px solid #fcfeff;
            border-left:16px solid transparent;
            border-right:16px solid transparent;
            margin-left: em(-16);
            z-index: 10;
        }
        .title{
            display: block;
            position: absolute;
            $font-size: 18;
            font-size: em($font-size);
            color: #636363;
            text-align: center;
            text-transform: uppercase;
            background: rgba(177, 216, 235, .8);
            width: 100%;
            bottom: em(37, $font-size);
            left: 0;
            padding: em(9, $font-size) 0;
        }
    }
    &__content{
        display: none;
        padding: em(50) 0;
        p{
            $font-size: 16;
            font-size: em($font-size);
            color: #000102;
        }
    }
    &:last-child &__content{
        padding-bottom: 0;
    }
    &__image{
        display: block;
        width: 100%;
        filter: grayscale(1);
        transition:all .3s;
    }
    &__item:hover &__image{
        filter: grayscale(0);
    }
    &__item.active &__image{
        filter: grayscale(0);
    }
}


@media (max-width: $base__size_md - 1 * 1px) {
    .b-spoiler{
        padding-bottom: em(0);
        .text{
            display: none;
        }
        &__item{
            float: none;
            margin-right: 0;
            margin-bottom: em(20);
            width: 100%;
        }
    }
}

@media (max-width: $base__size_xs - 1 * 1px) {
    .b-spoiler{
        &__content{
            padding: em(20) 0;
        }
    }
}