.b-topnav{
    padding: em(8) 0;
    &__item{
        display: inline-block;
        padding: 0 em(12);
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
    &__link{
        $font-size: 14;
        font-size: em($font-size);
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}