.b-video{
    border: 1px solid #b9b9b9;
    padding: em(32) em(10) em(32) em(28);
    overflow: hidden;
    margin-bottom: em(90);
    &__container{
        width: 509px;
        height: 370px;
        float: left;
        background-color: #000;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    &__navigation{
        overflow: hidden;
        padding-left: em(17);
    }
    &__navigation-item{
        height: 112px;
        padding-bottom: em(17);
        overflow: hidden;
        display: block;
        cursor: pointer;
        text-decoration: none;
        box-sizing: content-box;
        &.current{
            cursor: default;
        }
        &:last-child{
            padding-bottom: 0;
        }
        .image{
            display: block;
            box-sizing: border-box;
            border: 4px solid #000;
            background-color: #000;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            width: em(174);
            height: em(113);
            margin-right: em(12);
            float: left;
        }
        .text{
            $font-size: 14;
            font-size: em($font-size);
            color: #000102;
            display: block;
        }
        .title{
            $font-size: 18;
            font-size: em($font-size);
            color: #3d9ae5;
            font-weight: 300;
            display: block;
            line-height: 1.3;
            padding-bottom: em(10, $font-size);
        }
        &.current{
            .image{
                border-color: #3d9ae5;
            }
        }
    }
}

@media (max-width: $base__size_md - 1 * 1px) {
    .b-video{
        padding: em(15);
        margin-bottom: em(20);
        &__container{
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            position: relative;
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}