.b-why{
    position: relative;
    padding-bottom: em(175);
    &:after{
        content:"";
        display: block;
        position: absolute;
        bottom: 0;
        width: 226px;
        height: 501px;
        left: 50%;
        margin-left: -113px;
        background: url(../images/content/du.png) no-repeat center bottom;
    }
    &__col1{
        float: left;
        width: 375px;
    }
    &__col2{
        float: right;
        width: 320px;
    }
    &__item{
        padding-left: em(73);
        padding-bottom: em(45);
        position: relative;
        &:last-child{
            padding-bottom: 0;
        }
        &:before{
            content:"";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            border: 3px solid #626262;
            width: 41px;
            height: 41px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
    .icon1:before{
        background-image: url(../images/b64/icon1.png);
    }
    .icon2:before{
        background-image: url(../images/b64/icon2.png);
    }
    .icon3:before{
        background-image: url(../images/b64/icon3.png);
    }
    .icon4:before{
        background-image: url(../images/b64/icon4.png);
    }
    .icon5:before{
        background-image: url(../images/b64/icon5.png);
    }
    .icon6:before{
        background-image: url(../images/b64/icon6.png);
    }
    &__item-title{
        $font-size: 20;
        font-size: em($font-size);
        font-weight: 300;
        color: #639d04;
    }
    &__item-text{
        $font-size: 16;
        font-size: em($font-size);
        font-weight: 300;
        color: #616161;
    }
    &__title{
        $font-size: 30;
        padding-bottom: em(70, $font-size);
    }
}

@media (max-width: $base__size_md - 1 * 1px) {
    .b-why{
        padding-bottom: em(40);
        &:after{
            display: none;
        }
        &__col1{
            float: left;
            width:48%;
            padding-right: 4%;
        }
        &__col2{
            float: right;
            width: 48%;
        }
    }
}
@media (max-width: $base__size_sm - 1 * 1px) {
    .b-why{
        &__item {
            padding-bottom: em(25);
            &:last-child {
                padding-bottom: em(25);
            }
        }
        &:after{
            display: none;
        }
        &__col1{
            float: none;
            width:100%;
            padding-right: 0;
        }
        &__col2{
            float: none;
            width: 100%;
        }
    }
}