$base__font: 'Ubuntu', sans-serif;
$base__color: #373737;
$base__font-size: 10;
$base__background: #fff;
$base__size_xs:480;
$base__size_sm:768;
$base__size_md:992;
$base__size_lg:1200;

@function em($px, $base: $base__font-size){
    @return ($px / $base) *1em;
}
@function rem($px){
    @return ($px / $base__font-size) *1rem;
}

/*grid*/
$cols: 10;
$gutter: 1.8367346938776%;

$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

@mixin cols($num) {
    width: ($one_col * $num) + ($gutter * ($num - 1));
}
@mixin offset($num, $first) {
    @if $first == true{
        margin-left: ($one_col * $num) + ($gutter * $num);
        } @else {
        margin-left: ($one_col * $num) + ($gutter * ($num + 1));
    }
    
}