.b-popup{
    &__title{
        $font-size: 24;
        font-size: em($font-size);
        text-align: center;
        padding: 0 0 em(20, $font-size);
    }
    &__field{
        display: block;
        box-sizing: border-box;
        margin: 0;
        background-color: #FFF;
        border-radius: 5px;
        border: 2px solid #fff;
        $color: #34495E;
        $font-size: 17;
        font-size: em($font-size);
        color: $color;
        padding: em(11, $font-size) em(14, $font-size);
        transition: border-color .3s;
        margin-bottom: em(17, $font-size);
        width: 100%;
        &:focus{
            border-color: #0076a3;
        }
        &.error{
            border-color: #ff0000;
        }
    }
    &__submit{
        display: block;
        margin: 0;
        border: 0;
        $background-color: #0076a3;
        background-color: $background-color;
        border-radius: 5px;
        color: #FFF;
        $font-size: 17;
        font-size: em($font-size);
        font-weight: 700;
        transition: background-color .3s;
        width: 100%;
        padding: em(11, $font-size) 0;
        cursor: pointer;
        &:hover{
            background-color: darken($background-color, 10);
        }
        &.loading{
            background: url(../images/ajax-loader.gif) no-repeat center center $background-color;
            color:transparent;
        }
    }
    &__response{
        $font-size: 14;
        font-size: em($font-size);
        padding: em(15, $font-size) 0 0;
        text-align: center;
        color: #ff0000;
        font-weight: 700;
    }
}

#colorbox{
    z-index: 200;
    &:focus{
        outline:none;
    }
}
#cboxContent{
    background-color: #FFF;
    border-radius: em(5);
    box-shadow: 0 0 21px rgba(9, 9, 9, 0.75);
}
#cboxLoadedContent{
    padding: em(5);
}
#cboxLoadingOverlay, #cboxLoadingGraphic{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#cboxClose{
    overflow: hidden;
    padding: 30px 30px 0 0;
    border:2px solid #626262;
    border-radius: 50%;
    width: 0;
    height: 0;
    cursor: pointer;
    margin: 0;
    display: block;
    background: #fff url(../images/b64/close.svg) no-repeat center center;
    position: absolute;
    top: 5px;
    right: 5px;
}
#cboxOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 150;
    opacity: .8;
    background-color: #000;
    top: 0;
    left:0;
}
/*#cboxLoadedContent{
    p{
        $font-size: 13;
        font-size: em($font-size);
        padding: em(15, $font-size);
    }
}*/
#cboxLoadingGraphic{
    background:url(../images/loading.gif) no-repeat center center #fff;
}
.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}
.cboxIframe {
    background: #fff;
}