@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&subset=latin,cyrillic);
/*font-family: 'Ubuntu', sans-serif;*/
/*grid*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10 {
  float: left; }

.col-xs-10 {
  width: 100%; }

.col-xs-9 {
  width: 90%; }

.col-xs-8 {
  width: 80%; }

.col-xs-7 {
  width: 70%; }

.col-xs-6 {
  width: 60%; }

.col-xs-5 {
  width: 50%; }

.col-xs-4 {
  width: 40%; }

.col-xs-3 {
  width: 30%; }

.col-xs-2 {
  width: 20%; }

.col-xs-1 {
  width: 10%; }

.col-xs-pull-10 {
  right: 100%; }

.col-xs-pull-9 {
  right: 90%; }

.col-xs-pull-8 {
  right: 80%; }

.col-xs-pull-7 {
  right: 70%; }

.col-xs-pull-6 {
  right: 60%; }

.col-xs-pull-5 {
  right: 50%; }

.col-xs-pull-4 {
  right: 40%; }

.col-xs-pull-3 {
  right: 30%; }

.col-xs-pull-2 {
  right: 20%; }

.col-xs-pull-1 {
  right: 10%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-10 {
  left: 100%; }

.col-xs-push-9 {
  left: 90%; }

.col-xs-push-8 {
  left: 80%; }

.col-xs-push-7 {
  left: 70%; }

.col-xs-push-6 {
  left: 60%; }

.col-xs-push-5 {
  left: 50%; }

.col-xs-push-4 {
  left: 40%; }

.col-xs-push-3 {
  left: 30%; }

.col-xs-push-2 {
  left: 20%; }

.col-xs-push-1 {
  left: 10%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-10 {
  margin-left: 100%; }

.col-xs-offset-9 {
  margin-left: 90%; }

.col-xs-offset-8 {
  margin-left: 80%; }

.col-xs-offset-7 {
  margin-left: 70%; }

.col-xs-offset-6 {
  margin-left: 60%; }

.col-xs-offset-5 {
  margin-left: 50%; }

.col-xs-offset-4 {
  margin-left: 40%; }

.col-xs-offset-3 {
  margin-left: 30%; }

.col-xs-offset-2 {
  margin-left: 20%; }

.col-xs-offset-1 {
  margin-left: 10%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
    float: left; }
  .col-sm-10 {
    width: 100%; }
  .col-sm-9 {
    width: 90%; }
  .col-sm-8 {
    width: 80%; }
  .col-sm-7 {
    width: 70%; }
  .col-sm-6 {
    width: 60%; }
  .col-sm-5 {
    width: 50%; }
  .col-sm-4 {
    width: 40%; }
  .col-sm-3 {
    width: 30%; }
  .col-sm-2 {
    width: 20%; }
  .col-sm-1 {
    width: 10%; }
  .col-sm-pull-10 {
    right: 100%; }
  .col-sm-pull-9 {
    right: 90%; }
  .col-sm-pull-8 {
    right: 80%; }
  .col-sm-pull-7 {
    right: 70%; }
  .col-sm-pull-6 {
    right: 60%; }
  .col-sm-pull-5 {
    right: 50%; }
  .col-sm-pull-4 {
    right: 40%; }
  .col-sm-pull-3 {
    right: 30%; }
  .col-sm-pull-2 {
    right: 20%; }
  .col-sm-pull-1 {
    right: 10%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-10 {
    left: 100%; }
  .col-sm-push-9 {
    left: 90%; }
  .col-sm-push-8 {
    left: 80%; }
  .col-sm-push-7 {
    left: 70%; }
  .col-sm-push-6 {
    left: 60%; }
  .col-sm-push-5 {
    left: 50%; }
  .col-sm-push-4 {
    left: 40%; }
  .col-sm-push-3 {
    left: 30%; }
  .col-sm-push-2 {
    left: 20%; }
  .col-sm-push-1 {
    left: 10%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-10 {
    margin-left: 100%; }
  .col-sm-offset-9 {
    margin-left: 90%; }
  .col-sm-offset-8 {
    margin-left: 80%; }
  .col-sm-offset-7 {
    margin-left: 70%; }
  .col-sm-offset-6 {
    margin-left: 60%; }
  .col-sm-offset-5 {
    margin-left: 50%; }
  .col-sm-offset-4 {
    margin-left: 40%; }
  .col-sm-offset-3 {
    margin-left: 30%; }
  .col-sm-offset-2 {
    margin-left: 20%; }
  .col-sm-offset-1 {
    margin-left: 10%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
    float: left; }
  .col-md-10 {
    width: 100%; }
  .col-md-9 {
    width: 90%; }
  .col-md-8 {
    width: 80%; }
  .col-md-7 {
    width: 70%; }
  .col-md-6 {
    width: 60%; }
  .col-md-5 {
    width: 50%; }
  .col-md-4 {
    width: 40%; }
  .col-md-3 {
    width: 30%; }
  .col-md-2 {
    width: 20%; }
  .col-md-1 {
    width: 10%; }
  .col-md-pull-10 {
    right: 100%; }
  .col-md-pull-9 {
    right: 90%; }
  .col-md-pull-8 {
    right: 80%; }
  .col-md-pull-7 {
    right: 70%; }
  .col-md-pull-6 {
    right: 60%; }
  .col-md-pull-5 {
    right: 50%; }
  .col-md-pull-4 {
    right: 40%; }
  .col-md-pull-3 {
    right: 30%; }
  .col-md-pull-2 {
    right: 20%; }
  .col-md-pull-1 {
    right: 10%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-10 {
    left: 100%; }
  .col-md-push-9 {
    left: 90%; }
  .col-md-push-8 {
    left: 80%; }
  .col-md-push-7 {
    left: 70%; }
  .col-md-push-6 {
    left: 60%; }
  .col-md-push-5 {
    left: 50%; }
  .col-md-push-4 {
    left: 40%; }
  .col-md-push-3 {
    left: 30%; }
  .col-md-push-2 {
    left: 20%; }
  .col-md-push-1 {
    left: 10%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-10 {
    margin-left: 100%; }
  .col-md-offset-9 {
    margin-left: 90%; }
  .col-md-offset-8 {
    margin-left: 80%; }
  .col-md-offset-7 {
    margin-left: 70%; }
  .col-md-offset-6 {
    margin-left: 60%; }
  .col-md-offset-5 {
    margin-left: 50%; }
  .col-md-offset-4 {
    margin-left: 40%; }
  .col-md-offset-3 {
    margin-left: 30%; }
  .col-md-offset-2 {
    margin-left: 20%; }
  .col-md-offset-1 {
    margin-left: 10%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
    float: left; }
  .col-lg-10 {
    width: 100%; }
  .col-lg-9 {
    width: 90%; }
  .col-lg-8 {
    width: 80%; }
  .col-lg-7 {
    width: 70%; }
  .col-lg-6 {
    width: 60%; }
  .col-lg-5 {
    width: 50%; }
  .col-lg-4 {
    width: 40%; }
  .col-lg-3 {
    width: 30%; }
  .col-lg-2 {
    width: 20%; }
  .col-lg-1 {
    width: 10%; }
  .col-lg-pull-10 {
    right: 100%; }
  .col-lg-pull-9 {
    right: 90%; }
  .col-lg-pull-8 {
    right: 80%; }
  .col-lg-pull-7 {
    right: 70%; }
  .col-lg-pull-6 {
    right: 60%; }
  .col-lg-pull-5 {
    right: 50%; }
  .col-lg-pull-4 {
    right: 40%; }
  .col-lg-pull-3 {
    right: 30%; }
  .col-lg-pull-2 {
    right: 20%; }
  .col-lg-pull-1 {
    right: 10%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-10 {
    left: 100%; }
  .col-lg-push-9 {
    left: 90%; }
  .col-lg-push-8 {
    left: 80%; }
  .col-lg-push-7 {
    left: 70%; }
  .col-lg-push-6 {
    left: 60%; }
  .col-lg-push-5 {
    left: 50%; }
  .col-lg-push-4 {
    left: 40%; }
  .col-lg-push-3 {
    left: 30%; }
  .col-lg-push-2 {
    left: 20%; }
  .col-lg-push-1 {
    left: 10%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-10 {
    margin-left: 100%; }
  .col-lg-offset-9 {
    margin-left: 90%; }
  .col-lg-offset-8 {
    margin-left: 80%; }
  .col-lg-offset-7 {
    margin-left: 70%; }
  .col-lg-offset-6 {
    margin-left: 60%; }
  .col-lg-offset-5 {
    margin-left: 50%; }
  .col-lg-offset-4 {
    margin-left: 40%; }
  .col-lg-offset-3 {
    margin-left: 30%; }
  .col-lg-offset-2 {
    margin-left: 20%; }
  .col-lg-offset-1 {
    margin-left: 10%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs, td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm, td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md, td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg, td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print, td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 400;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px; }

body {
  line-height: 1.5;
  font-size: 10px;
  color: #373737;
  font-family: 'Ubuntu', sans-serif;
  background: #fff;
  font-weight: 400;
  min-width: 320px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: 700; }

a {
  color: #000; }

a:focus, input:focus, button:focus {
  outline: none; }

a:hover {
  text-decoration: none; }

.pr-button {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #e40510;
  font-size: 1.3rem;
  font-weight: 300;
  border: 2px solid #e40510;
  border-radius: 1.7rem;
  padding: 0.7rem 3.3rem;
  transition: background-color .3s, color .3s;
  background-color: transparent;
  cursor: pointer;
  line-height: 1.5;
  box-sizing: border-box; }
  .pr-button:hover {
    background-color: #e40510;
    color: #fff; }
  .pr-button_block {
    display: block;
    width: 100%; }
  .pr-button_white {
    color: #fff; }
.pr-list {
  padding: 1em 0; }
  .pr-list li {
    color: #B4B4B4;
    font-size: 1.4rem;
    padding: 0.64286em 0 0.64286em 3.35714em;
    list-style: none;
    background-repeat: no-repeat;
    background-position: 0 0.71429em; }
  .pr-list.checklist li {
    background-image: url(../images/b64/checklist.png); }
  .pr-list.alertlist li {
    background-position: 0 0.42857em;
    background-image: url(../images/b64/alertlist.png); }
.pr-breakepoint {
  width: 100%;
  height: 1px;
  overflow: hidden; }
.pr-preloader {
  text-align: center;
  display: none;
  padding: 2em 0; }
.pr-sponsor {
  padding-bottom: 1.5em; }
  .pr-sponsor h4 {
    font-size: 2em;
    font-weight: 700;
    margin: 1em 0 0.5em; }

body {
  padding-top: 6.1em; }

.wrap {
  width: 100%;
  overflow: hidden;
  min-width: 320px; }

@media (max-width: 1000px) {
  body {
    padding-top: 0; } }

@media (max-width: 991px) {
  body {
    padding-top: 6.1em; } }

.b-line {
  padding: 6.3em 0 8.3em; }
  .b-line_gray {
    background-color: #fbfbfb; }
  .b-line_wblue {
    background: linear-gradient(to bottom, #ffffff 0%, #eef6fa 100%); }
  .b-line_wgreen {
    background: linear-gradient(to bottom, #ffffff 0%, #ebfee0 100%); }
  .b-line_complect {
    background: url(../images/complect-bg.jpg) no-repeat center center #e2e9ec;
    background-size: cover; }
  .b-line__title {
    font-size: 3em;
    color: #000102;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-weight: 300; }
  .b-line .b-line {
    padding-bottom: 0; }

@media (max-width: 767px) {
  .b-line {
    padding: 3em 0 3em; } }

@media (max-width: 479px) {
  .b-line {
    padding: 2em 0 2em; } }

@media (max-width: 479px) {
  .b-line__title {
    font-size: 2.4em;
    padding-bottom: 1em; } }

/*
* jQuery FlexSlider v2.5.0
* http://www.woothemes.com/flexslider/
 *
* Copyright 2012 WooThemes
                 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
                 * Contributing author: Tyler Smith (@mbmufffin)
*
*/
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {
  outline: none; }

.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.flexslider .slides:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

.flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

.b-popup__title {
  font-size: 2.4em;
  text-align: center;
  padding: 0 0 0.83333em; }
.b-popup__field {
  display: block;
  box-sizing: border-box;
  margin: 0;
  background-color: #FFF;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 1.7em;
  color: #34495E;
  padding: 0.64706em 0.82353em;
  transition: border-color .3s;
  margin-bottom: 1em;
  width: 100%; }
  .b-popup__field:focus {
    border-color: #0076a3; }
  .b-popup__field.error {
    border-color: #ff0000; }
.b-popup__submit {
  display: block;
  margin: 0;
  border: 0;
  background-color: #0076a3;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.7em;
  font-weight: 700;
  transition: background-color .3s;
  width: 100%;
  padding: 0.64706em 0;
  cursor: pointer; }
  .b-popup__submit:hover {
    background-color: #005170; }
  .b-popup__submit.loading {
    background: url(../images/ajax-loader.gif) no-repeat center center #0076a3;
    color: transparent; }
.b-popup__response {
  font-size: 1.4em;
  padding: 1.07143em 0 0;
  text-align: center;
  color: #ff0000;
  font-weight: 700; }

#colorbox {
  z-index: 200; }
  #colorbox:focus {
    outline: none; }

#cboxContent {
  background-color: #FFF;
  border-radius: 0.5em;
  box-shadow: 0 0 21px rgba(9, 9, 9, 0.75); }

#cboxLoadedContent {
  padding: 0.5em; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxClose {
  overflow: hidden;
  padding: 30px 30px 0 0;
  border: 2px solid #626262;
  border-radius: 50%;
  width: 0;
  height: 0;
  cursor: pointer;
  margin: 0;
  display: block;
  background: #fff url(../images/b64/close.svg) no-repeat center center;
  position: absolute;
  top: 5px;
  right: 5px; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 150;
  opacity: .8;
  background-color: #000;
  top: 0;
  left: 0; }

/*#cboxLoadedContent{
    p{
        $font-size: 13;
        font-size: em($font-size);
        padding: em(15, $font-size);
    }
}*/
#cboxLoadingGraphic {
  background: url(../images/loading.gif) no-repeat center center #fff; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

.cboxIframe {
  background: #fff; }

.b-header {
  background: #2a5bb5;
  padding: 1.2em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  .b-header__container {
    padding: 0 0 0 16em;
    position: relative; }
  .b-header__logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1.5em;
    cursor: pointer; }
  .b-header__tel {
    font-size: 2.4em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: right; }
    .b-header__tel .code {
      font-weight: 400;
      font-size: 0.83em; }

@media (max-width: 1000px) {
  .b-header {
    position: relative; } }

@media (max-width: 991px) {
  .b-header {
    position: fixed; } }

@media (max-width: 479px) {
  .b-header__container {
    padding-left: 13em; }
  .b-header__tel {
    font-size: 2em;
    padding: 0.25em 0; } }

.b-topnav {
  padding: 0.8em 0; }
  .b-topnav__item {
    display: inline-block;
    padding: 0 1.2em; }
    .b-topnav__item:first-child {
      padding-left: 0; }
    .b-topnav__item:last-child {
      padding-right: 0; }
  .b-topnav__link {
    font-size: 1.4em;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none; }
    .b-topnav__link:hover {
      text-decoration: underline; }

.b-promo {
  background: url(../images/promo-bg.jpg) no-repeat 50% 50% #8dc3df;
  background-size: cover;
  margin-bottom: 3em; }
  .b-promo__title {
    color: #007cde;
    font-size: 6.5em;
    letter-spacing: -3px;
    text-align: center;
    line-height: 1.45; }
  .b-promo__subtitle {
    display: block;
    font-size: 0.723em;
    letter-spacing: -1px; }
  .b-promo__feature {
    padding: 1.5em 0; }
    .b-promo__feature .number {
      color: #007cde;
      font-size: 6em;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      padding-right: 0.16667em;
      letter-spacing: -3px; }
    .b-promo__feature .text {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4em;
      color: #616161; }
  .b-promo__type {
    margin-bottom: -3.7em;
    position: relative; }
    .b-promo__type:before {
      content: "";
      display: block;
      width: 95%;
      height: 95%;
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      box-shadow: 7px 0 60px rgba(0, 0, 0, 0.36); }
  .b-promo__type-selector {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 166px;
    height: 166px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -83px 0 0 -83px;
    z-index: 20;
    text-align: center; }
    .b-promo__type-selector .text {
      font-size: 2.3em;
      color: #000102;
      font-weight: 300;
      display: block;
      padding: 1.30435em 0 0.86957em; }
    .b-promo__type-selector .link {
      width: 26px;
      height: 26px;
      border: 1px solid #9c8e83;
      display: inline-block;
      margin: 0 0.8em;
      border-radius: 50%;
      position: relative; }
      .b-promo__type-selector .link:before {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 4px;
        left: 4px;
        border-radius: 50%;
        background-color: #fff; }
      .b-promo__type-selector .link.brown:before {
        background-color: #904f30; }
  .b-promo__type-img {
    display: block;
    width: 100%; }
  .b-promo__type-slider {
    overflow: hidden; }
    .b-promo__type-slider .slides {
      overflow: hidden; }
      .b-promo__type-slider .slides li {
        display: none; }
        .b-promo__type-slider .slides li:first-child {
          display: block; }
  .b-promo__bottom {
    padding-top: 5.3em; }

@media (max-width: 767px) {
  .b-promo {
    padding: 2em 0; }
    .b-promo__title {
      color: #007cde;
      font-size: 3.5em;
      letter-spacing: -1px;
      text-align: center;
      line-height: 1.25; }
    .b-promo__type {
      margin-bottom: 3em; } }

@media (max-width: 479px) {
  .b-promo__feature .number {
    display: block;
    text-align: center; }
  .b-promo__feature .text {
    display: block;
    text-align: center; } }

.b-price {
  padding-bottom: 3em; }
  .b-price .old {
    font-size: 1.8em;
    display: block;
    color: #adadad;
    text-decoration: line-through; }
  .b-price .new {
    color: #ff0000;
    font-size: 3.5em;
    font-weight: 500;
    line-height: 1.1;
    display: block; }
    .b-price .new .currency {
      font-size: 0.51em; }

@media (max-width: 767px) {
  .b-price {
    text-align: center; } }

.b-label {
  font-size: 1.8em;
  font-weight: 300;
  border: 2px solid #f3bd00;
  text-align: center;
  color: #000102;
  text-transform: uppercase;
  padding: 0.5em 2.05556em;
  display: inline-block;
  clear: both; }
  .b-label_small {
    font-size: 1.4em;
    padding: 0.64286em 1.07143em;
    text-align: left; }

@media (max-width: 767px) {
  .b-label {
    margin-bottom: 0.83333em; }
    .b-label_small {
      margin-bottom: 1.07143em; } }

.b-form {
  box-sizing: border-box;
  padding: 1.5em 3em;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.69); }
  .b-form_white {
    background-color: #ffffff; }
  .b-form_shadow {
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.29); }
  .b-form_lg {
    background-color: #fcfcfc; }
  .b-form_no-border {
    border: 0; }
  .b-form__title {
    font-size: 1.8em;
    color: #616161;
    padding-bottom: 0.83333em; }
  .b-form__text-content {
    font-size: 1.4em;
    font-weight: 300;
    color: #616161;
    padding-bottom: 1.07143em; }
  .b-form__el {
    padding-bottom: 1.4em; }
    .b-form__el:last-child {
      padding-bottom: 0; }
  .b-form__text {
    font-size: 1.4em;
    box-sizing: border-box;
    width: 100%;
    display: block;
    background-color: transparent;
    border: 1px solid #bcbcbc;
    padding: 0 1.07143em;
    height: 2.71429em;
    color: #000;
    transition: box-shadow .3s; }
    .b-form__text.error {
      box-shadow: 0 0 5px red; }
    .b-form__text:focus {
      box-shadow: 0 0 5px #568ecc; }
  .b-form__submit {
    border: 1px solid #bcbcbc;
    font-size: 1.4em;
    color: #fff;
    line-height: 1.5;
    width: 100%;
    display: block;
    background: #84f185;
    background: linear-gradient(to bottom, #84f185 0%, #16a617 100%);
    padding: 0.35714em 0;
    text-align: center;
    cursor: pointer; }
    .b-form__submit:hover {
      background: linear-gradient(to bottom, #16a617 0%, #84f185 100%); }
  .b-form__output {
    font-size: 1.5em;
    color: #000;
    display: none; }

.b-video {
  border: 1px solid #b9b9b9;
  padding: 3.2em 1em 3.2em 2.8em;
  overflow: hidden;
  margin-bottom: 9em; }
  .b-video__container {
    width: 509px;
    height: 370px;
    float: left;
    background-color: #000; }
    .b-video__container iframe {
      width: 100%;
      height: 100%; }
  .b-video__navigation {
    overflow: hidden;
    padding-left: 1.7em; }
  .b-video__navigation-item {
    height: 112px;
    padding-bottom: 1.7em;
    overflow: hidden;
    display: block;
    cursor: pointer;
    text-decoration: none;
    box-sizing: content-box; }
    .b-video__navigation-item.current {
      cursor: default; }
    .b-video__navigation-item:last-child {
      padding-bottom: 0; }
    .b-video__navigation-item .image {
      display: block;
      box-sizing: border-box;
      border: 4px solid #000;
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 17.4em;
      height: 11.3em;
      margin-right: 1.2em;
      float: left; }
    .b-video__navigation-item .text {
      font-size: 1.4em;
      color: #000102;
      display: block; }
    .b-video__navigation-item .title {
      font-size: 1.8em;
      color: #3d9ae5;
      font-weight: 300;
      display: block;
      line-height: 1.3;
      padding-bottom: 0.55556em; }
    .b-video__navigation-item.current .image {
      border-color: #3d9ae5; }

@media (max-width: 991px) {
  .b-video {
    padding: 1.5em;
    margin-bottom: 2em; }
    .b-video__container {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative; }
      .b-video__container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }

.b-spoiler {
  padding-bottom: 4em; }
  .b-spoiler:last-child {
    padding-bottom: 0; }
  .b-spoiler .text {
    display: none; }
  .b-spoiler__item {
    float: left;
    margin-right: 1.5%;
    width: 32.33333%;
    cursor: pointer;
    position: relative;
    transition: box-shadow .3s;
    background: no-repeat 50% 50% #ccc;
    background-size: cover;
    text-decoration: none;
    transform: translateZ(0); }
    .b-spoiler__item.active {
      box-shadow: 0 0 1px 3px #b7dcea;
      border-radius: 0.3em;
      filter: grayscale(0); }
      .b-spoiler__item.active:before, .b-spoiler__item.active:after {
        display: block; }
    .b-spoiler__item:last-child {
      margin-right: 0; }
    .b-spoiler__item:before {
      content: "";
      position: absolute;
      display: none;
      top: 100%;
      left: 50%;
      border-top: 19px solid #b4dae9;
      border-left: 19px solid transparent;
      border-right: 19px solid transparent;
      margin-left: -1.9em; }
    .b-spoiler__item:after {
      content: "";
      position: absolute;
      display: none;
      top: 100%;
      left: 50%;
      border-top: 16px solid #fcfeff;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      margin-left: -1.6em;
      z-index: 10; }
    .b-spoiler__item .title {
      display: block;
      position: absolute;
      font-size: 1.8em;
      color: #636363;
      text-align: center;
      text-transform: uppercase;
      background: rgba(177, 216, 235, 0.8);
      width: 100%;
      bottom: 2.05556em;
      left: 0;
      padding: 0.5em 0; }
  .b-spoiler__content {
    display: none;
    padding: 5em 0; }
    .b-spoiler__content p {
      font-size: 1.6em;
      color: #000102; }
  .b-spoiler:last-child .b-spoiler__content {
    padding-bottom: 0; }
  .b-spoiler__image {
    display: block;
    width: 100%;
    filter: grayscale(1);
    transition: all .3s; }
  .b-spoiler__item:hover .b-spoiler__image {
    filter: grayscale(0); }
  .b-spoiler__item.active .b-spoiler__image {
    filter: grayscale(0); }

@media (max-width: 991px) {
  .b-spoiler {
    padding-bottom: 0em; }
    .b-spoiler .text {
      display: none; }
    .b-spoiler__item {
      float: none;
      margin-right: 0;
      margin-bottom: 2em;
      width: 100%; } }

@media (max-width: 479px) {
  .b-spoiler__content {
    padding: 2em 0; } }

.b-why {
  position: relative;
  padding-bottom: 17.5em; }
  .b-why:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 226px;
    height: 501px;
    left: 50%;
    margin-left: -113px;
    background: url(../images/content/du.png) no-repeat center bottom; }
  .b-why__col1 {
    float: left;
    width: 375px; }
  .b-why__col2 {
    float: right;
    width: 320px; }
  .b-why__item {
    padding-left: 7.3em;
    padding-bottom: 4.5em;
    position: relative; }
    .b-why__item:last-child {
      padding-bottom: 0; }
    .b-why__item:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      border: 3px solid #626262;
      width: 41px;
      height: 41px;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
  .b-why .icon1:before {
    background-image: url(../images/b64/icon1.png); }
  .b-why .icon2:before {
    background-image: url(../images/b64/icon2.png); }
  .b-why .icon3:before {
    background-image: url(../images/b64/icon3.png); }
  .b-why .icon4:before {
    background-image: url(../images/b64/icon4.png); }
  .b-why .icon5:before {
    background-image: url(../images/b64/icon5.png); }
  .b-why .icon6:before {
    background-image: url(../images/b64/icon6.png); }
  .b-why__item-title {
    font-size: 2em;
    font-weight: 300;
    color: #639d04; }
  .b-why__item-text {
    font-size: 1.6em;
    font-weight: 300;
    color: #616161; }
  .b-why__title {
    padding-bottom: 2.33333em; }

@media (max-width: 991px) {
  .b-why {
    padding-bottom: 4em; }
    .b-why:after {
      display: none; }
    .b-why__col1 {
      float: left;
      width: 48%;
      padding-right: 4%; }
    .b-why__col2 {
      float: right;
      width: 48%; } }

@media (max-width: 767px) {
  .b-why__item {
    padding-bottom: 2.5em; }
    .b-why__item:last-child {
      padding-bottom: 2.5em; }
  .b-why:after {
    display: none; }
  .b-why__col1 {
    float: none;
    width: 100%;
    padding-right: 0; }
  .b-why__col2 {
    float: none;
    width: 100%; } }

.b-complect {
  position: relative; }
  .b-complect:before {
    content: "";
    display: block;
    width: 512px;
    height: 447px;
    background: url(../images/type1_flower.png) no-repeat;
    position: absolute;
    bottom: 20px;
    left: 60%;
    z-index: 10; }
  .b-complect__items {
    font-size: 1.6em;
    font-weight: 300;
    color: #000102; }
  .b-complect__bottom {
    padding-top: 7.5em; }

@media (max-width: 767px) {
  .b-complect:before {
    display: none; } }

.b-how {
  background: url(../images/about-bg.jpg) no-repeat center center #f4f9fc;
  background-size: cover;
  position: relative; }
  .b-how:before {
    content: "";
    display: block;
    width: 553px;
    height: 621px;
    background: url(../images/box.png) no-repeat;
    position: absolute;
    bottom: -87px;
    left: 60%;
    z-index: 10; }
  .b-how__text {
    font-weight: 300;
    padding: 2em 0; }
    .b-how__text p {
      font-size: 1.6em;
      color: #000000;
      padding-bottom: 2.1875em; }
      .b-how__text p .large {
        font-size: 1.125em; }

@media (max-width: 767px) {
  .b-how:before {
    display: none; }
  .b-how__text {
    padding: 0.5em 0; }
    .b-how__text p {
      font-size: 1.6em;
      padding-bottom: 0.3125em; } }

.b-ab__col1 {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 2%;
  width: 23.5%; }
.b-ab__col2 {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 2%;
  width: 23.5%; }
.b-ab__col3 {
  display: inline-block;
  vertical-align: bottom;
  width: 49%; }

@media (max-width: 767px) {
  .b-ab {
    padding-top: 3em; }
    .b-ab__col1 {
      display: block;
      width: 48%;
      padding-right: 4%;
      float: left; }
    .b-ab__col2 {
      display: block;
      width: 48%;
      padding-right: 0;
      float: left; } }

@media (max-width: 479px) {
  .b-ab__col1 {
    display: block;
    width: 100%;
    padding-right: 0; }
  .b-ab__col2 {
    display: block;
    width: 100%;
    padding-right: 0; } }

.b-characteristics {
  width: 100%; }
  .b-characteristics td {
    font-size: 1.6em;
    color: #000102;
    padding: 0.3125em 0 0.3125em 5em; }
    .b-characteristics td:first-child {
      font-weight: 300; }
  .b-characteristics tr:nth-child(odd) td {
    background-color: #fcfeff; }

@media (max-width: 991px) {
  .b-characteristics {
    width: 100%; }
    .b-characteristics td {
      font-size: 1.6em;
      padding: 0.3125em 0.3125em 0.3125em; } }

.b-islider {
  padding: 0 11.8em;
  position: relative; }
  .b-islider .slides img {
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.29);
    margin: 2.9em auto; }
  .b-islider .flex-prev, .b-islider .flex-next {
    border: 2px solid #626262;
    display: block;
    border-radius: 50%;
    height: 0;
    width: 0;
    padding: 30px 30px 0 0;
    overflow: hidden;
    background: url(../images/b64/arrow-left.png) no-repeat 50% 50%;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 6.4em; }
    .b-islider .flex-prev.flex-disabled, .b-islider .flex-next.flex-disabled {
      display: none; }
  .b-islider .flex-next {
    background-image: url(../images/b64/arrow-right.png);
    left: auto;
    right: 6.4em; }

@media (max-width: 479px) {
  .b-islider {
    padding: 0 3em;
    position: relative; }
    .b-islider .flex-prev, .b-islider .flex-next {
      left: 0; }
    .b-islider .flex-next {
      left: auto;
      right: 0; } }

.b-footer {
  padding: 3.5em 0; }
  .b-footer__copyrights {
    font-size: 1.4em;
    color: #568ecc;
    font-weight: 300; }
  .b-footer__tel .title {
    display: block;
    font-size: 1.4em;
    color: #000;
    font-weight: 300; }
  .b-footer__tel .tel {
    display: block;
    font-size: 1.6em;
    font-weight: 500;
    color: #000;
    text-decoration: none; }
  .b-footer__tel .text {
    display: block;
    font-size: 1.4em;
    font-weight: 300;
    color: #568ecc; }
  .b-footer__menu-item {
    list-style: none; }
  .b-footer__menu-link {
    font-size: 1.4em;
    color: #568ecc;
    text-decoration: none;
    font-weight: 300; }
    .b-footer__menu-link:hover {
      text-decoration: underline; }

@media (max-width: 480px) {
  .b-footer {
    text-align: center; }
    .b-footer__copyrights {
      font-size: 1.6em;
      padding-bottom: 0.9375em; }
    .b-footer__tel {
      padding-bottom: 1.5em; }
      .b-footer__tel .title {
        font-size: 1.6em; }
      .b-footer__tel .tel {
        font-size: 1.8em; }
      .b-footer__tel .text {
        font-size: 1.6em; }
    .b-footer__menu-link {
      font-size: 1.6em; } }

.b-map {
  height: 45em;
  width: 100%;
  background-color: #fff;
  margin: 0 0 6.4em; }

@media (max-width: 767px) {
  .b-map {
    height: 15em; } }

.b-address {
  color: #000102;
  font-weight: 300; }
  .b-address__title {
    font-size: 1.8em;
    padding-bottom: 1.38889em; }
  .b-address__text {
    font-size: 1.4em;
    line-height: 1.8; }

@media (max-width: 767px) {
  .b-address {
    padding-bottom: 3em; }
    .b-address__title {
      font-size: 2em;
      padding-bottom: 0.75em; }
    .b-address__text {
      font-size: 1.6em; } }

.b-delivery {
  background: url(../images/mr.jpg) no-repeat 50% 50% #a1c4d5;
  background-size: cover;
  padding: 5em 0 13.7em; }
  .b-delivery__title {
    font-size: 3.6em;
    color: #007cde;
    line-height: 1.32; }
    .b-delivery__title strong {
      font-weight: 700; }
  .b-delivery__item-wrap {
    padding: 3.3em 0; }
  .b-delivery__item {
    font-size: 1.8em;
    color: #000000;
    padding: 0.66667em 0 0.72222em 2.66667em;
    line-height: 1.4;
    font-weight: 300;
    background: url(../images/b64/check.png) no-repeat left 8px; }
  .b-delivery__wrap {
    padding: 0 2.2em;
    position: relative; }
  .b-delivery__form {
    max-width: 292px;
    box-shadow: 0 20px 29px rgba(0, 0, 0, 0.29);
    position: relative; }
  .b-delivery__form-title {
    font-size: 1.8em;
    font-weight: 300;
    color: #639d04;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 1.11111em; }
    .b-delivery__form-title .item {
      font-size: 1.3333em; }
  .b-delivery__form-label {
    border-radius: 50%;
    background-color: #639d04;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: -13.5em;
    right: -13.5em;
    width: 19em;
    height: 19em;
    z-index: 10; }
    .b-delivery__form-label .title {
      text-transform: uppercase;
      font-size: 2.7em;
      display: block;
      padding-top: 0.92593em;
      font-weight: 700; }
    .b-delivery__form-label .old-price {
      font-size: 2em;
      display: block;
      text-decoration: line-through; }
    .b-delivery__form-label .new-price {
      font-size: 4.3em;
      display: block;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: -3px; }
    .b-delivery__form-label .currency {
      font-size: 0.37em;
      letter-spacing: 0; }
